@{
    ViewData["Title"] = "Who is Jashoonie";
}
<img src="~/images/TPC_LIM-3.jpg" class="intro-image" />

<h2>Jason</h2>
<p>My name is Jason Lim. I am @ViewBag.age years old.</p>

<p>Moonie is my 자기</p>