@{
    ViewData["Title"] = "Who is Moonie";
}
<div id="moonContent">


    <div class="moonImage">
        <img src="~/images/TPC_LIM-4.jpg" class="img-responsive" />
        <img src="~/images/TPC_LIM-5.jpg" class="img-responsive" />
        <img src="~/images/TPC_LIM-15.jpg" class="img-responsive" />


    </div>
    

</div>

<div id="moonText">
    <h2 class="text-center">Moonie is my 자기</h2>

    <p>My name is JeongEun Moon. I am @ViewBag.age years old. I love Jason sooooooOooOoooo much!! a little less than I love my samoyed! </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id enim ullamcorper, finibus nunc id, pellentesque orci. Integer sed gravida erat, in pharetra lectus. Pellentesque aliquam leo nec quam aliquet, sed imperdiet lacus eleifend. Aliquam vehicula, elit eleifend tempus convallis, leo urna tincidunt tellus, et iaculis purus orci eget enim. Praesent non erat at odio malesuada varius. Aliquam id urna a arcu aliquet dictum a sit amet enim. Pellentesque vestibulum fringilla vulputate. Donec a vehicula arcu. Pellentesque at nibh sed dui bibendum iaculis. Nullam varius auctor tincidunt. Nulla at facilisis massa, nec aliquet ligula.

        Sed a lorem ac turpis placerat malesuada. Donec maximus faucibus ligula nec tempor. Integer sed leo quis felis sollicitudin venenatis eu facilisis nisi. Nullam finibus porttitor risus, eget mattis sem scelerisque at. Aliquam ullamcorper enim et vehicula cursus. Proin id sem id tellus pellentesque fermentum et non quam. Pellentesque vulputate ultrices mi. Donec et fermentum massa. Sed vitae tortor ut mi sollicitudin eleifend non a libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nec ligula euismod, aliquam metus quis, efficitur risus. Integer pellentesque metus nec est gravida, at placerat nunc sodales.

        Vivamus ut tempus velit. Nulla elementum non purus in imperdiet. Vestibulum vel odio enim. Vivamus urna metus, ultricies ac sagittis id, porttitor nec erat. Ut quis sollicitudin lacus. Etiam dui mauris, fringilla a massa vel, sodales maximus nisi. Maecenas faucibus orci eu imperdiet interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque facilisis tortor in metus mattis, quis tristique est venenatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id enim ullamcorper, finibus nunc id, pellentesque orci. Integer sed gravida erat, in pharetra lectus. Pellentesque aliquam leo nec quam aliquet, sed imperdiet lacus eleifend. Aliquam vehicula, elit eleifend tempus convallis, leo urna tincidunt tellus, et iaculis purus orci eget enim. Praesent non erat at odio malesuada varius. Aliquam id urna a arcu aliquet dictum a sit amet enim. Pellentesque vestibulum fringilla vulputate. Donec a vehicula arcu. Pellentesque at nibh sed dui bibendum iaculis. Nullam varius auctor tincidunt. Nulla at facilisis massa, nec aliquet ligula.

        Sed a lorem ac turpis placerat malesuada. Donec maximus faucibus ligula nec tempor. Integer sed leo quis felis sollicitudin venenatis eu facilisis nisi. Nullam finibus porttitor risus, eget mattis sem scelerisque at. Aliquam ullamcorper enim et vehicula cursus. Proin id sem id tellus pellentesque fermentum et non quam. Pellentesque vulputate ultrices mi. Donec et fermentum massa. Sed vitae tortor ut mi sollicitudin eleifend non a libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nec ligula euismod, aliquam metus quis, efficitur risus. Integer pellentesque metus nec est gravida, at placerat nunc sodales.

        Vivamus ut tempus velit. Nulla elementum non purus in imperdiet. Vestibulum vel odio enim. Vivamus urna metus, ultricies ac sagittis id, porttitor nec erat. Ut quis sollicitudin lacus. Etiam dui mauris, fringilla a massa vel, sodales maximus nisi. Maecenas faucibus orci eu imperdiet interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque facilisis tortor in metus mattis, quis tristique est venenatis.
    </p>
</div>