@{
    ViewData["Title"] = "Our Bucket List in Life";
}


<div id="bucketList">
    <ul class="filterSection">
        <li>
            <strong>Show:</strong>
            <input checked="checked" type="checkbox" value="food" />
            <label>Foods</label>
        </li>
        <li>
            <input checked="checked" type="checkbox" value="place" />
            <label>Place</label>
        </li>
        <li>
            <input type="checkbox" value="muscian" />
            <label>Muscian</label>
        </li>
    </ul>

    <ul id="itemsToFilter">
        <li data-type="food">Pasta</li>
        <li data-type="place">Michigan</li>
        <li data-type="food">Celery</li>
        <li data-type="place">Westeros</li>
        <li data-type="musician">Bon Jovi</li>
        <li data-type="musician">Taylor Swift</li>
        <li data-type="place">Portland</li>
        <li data-type="food">Waffles</li>
        <li data-type="musician">Bono</li>
        <li data-type="food">Fried Chicken</li>
        <li data-type="place">New Zealand</li>
        <li data-type="musician">Bruce Springsteen</li>
        <li data-type="food">Bananas</li>
        <li data-type="musician">Beach Boys</li>
        <li data-type="place">Idaho</li>
        <li data-type="musician">Justin Bieber</li>
    </ul>

</div>

